.cover {
  height: 280px;
  background-size: cover;
  background-position: center;
  position: relative;
  background: url("https://images.pexels.com/photos/545521/pexels-photo-545521.jpeg");
}

.coverBtn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.main {
  display: flex;
  gap: 25px;
  margin-top: -70px;
  padding: 0 30px;
}

.leftCard {
  width: 40%;
  background: white;
  border-radius: 16px;
  padding: 2px;
}

.rightCard {
  width: 60%;
  background: white;
  border-radius: 16px;
  padding: 75px;
}

.profilePic {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 4px solid white;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePic span {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.profilePic:hover span {
  opacity: 1;
}

.bio {
  color: #444;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  margin-top: 10px;
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.textarea {
  width: 100%;
  margin-top: 10px;
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-height: 80px;
}

.work {
  margin-top: 12px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 10px;
}

.addBtn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #e3f2fd;
  color: #0a66c2;
  font-weight: 600;
  cursor: pointer;
}

.editBtn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #0a66c2;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.activity {
  background: #f4f6f8;
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
}

.activity img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}
.removeBtn {
  margin-top: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: #ff4d4f;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
