.container {
  padding: 1.5rem;
  background: #faf8f8;
}

/* COVER */
.coverWrapper {
  position: relative;
  height: 32vh;
  border-radius: 20px;
}

/* IMPORTANT: no overflow hidden */
.cover {
  width: 100%;
  height: 100%;
  background: url("https://images.pexels.com/photos/545521/pexels-photo-545521.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.profilePic {
  position: absolute;
  bottom: -4rem;
  left: 6%;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  background: white;
}

/* GRID */
.contentGrid {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 2.5rem;
  margin-top: 6rem;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nameRow span {
  color: gray;
}

.actionRow {
  margin-top: 0.5rem;
}

.connectBtn {
  background: #035db7;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.connectedBtn {
  border: 1px solid gray;
  background: white;
  color: #035db7;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

.bio {
  margin-top: 1rem;
}

/* WORK */
.workHistory {
  margin-top: 2rem;
}

.workHistoryContainer {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

.workCard {
  padding: 1rem 1.8rem;
  border-radius: 12px;
  box-shadow: 8px 8px 15px rgb(180, 180, 180);
}

/* RIGHT */
.rightSection {
  background: white;
  padding: 1.2rem;
  border-radius: 14px;
}

.postCard {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  align-items: flex-start;
}

.postImg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 8px;
}

.noPost {
  color: gray;
  margin-top: 1rem;
}
