.container{
    padding: 1.3rem;
    background: rgb(250, 248, 248);

}

.backDropContainer{
   width: 100%;
   height: 30vh;
   background: url("https://images.pexels.com/photos/545521/pexels-photo-545521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   border-radius: 20px;
}

.backDropContainer img{
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
}

.profileContainer__details{
    padding-top: 6.6rem;

}

.card{
    display: flex;
    align-items: center;
    gap:1.4rem
}

.card__profileContainer{
    display: flex;
}

.card__profileContainer> img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}

.connectionBtn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3,93,183,0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.connectedButton{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid grey;
    outline: none;
    color: rgba(3,93,183,0.905);
    border-radius: 10px;
    cursor: pointer;
}